body{
    margin: 0;  
    }

.menu ul {
    margin: 0;
    background-color:black;
    list-style: none;
    text-align: center;  
}

.menu ul li {
    display: inline;    
}

.menu ul li a {
    padding: 15px 5px;
    display: inline-block;
    color:antiquewhite;
    text-decoration:none;
    font-size: 20px;
    font-family: Palatino Linotype;
    font-size: 20px;
    font-family: Palatino Linotype;
    box-shadow: 5px -9px 3px black;
    width: 200px;
    box-shadow: 5px 5px 5px black;
        
}

.menu ul li a:hover{
    color: rgb(240, 128, 128);
}

.mestra{
    align-items: center;
    justify-content: center;
}

.conteudo{
    background-color:white;
    align-content: center;
    width: 1000px;
    height: 3000px;
    margin: 0px auto;
    margin-top: 15px;  
}

.img{
    text-align: center;
    padding: 10px 0;
    margin: 15px
}

.acesso{
     cursor: pointer;
     font-size: 21px;
     font-weight: 400;
     color: #FFFFFF;
     max-width: 160px;
     text-transform: uppercase;
     padding: 0;
     display: block;
     margin: 20px auto 35px auto;
   
 }

.btn  input{
     font-family: arial;
     font-size: 16px;
     font-weight: 700;
     color: #000099;
     text-align:center;
     text-transform: uppercase;
     width: autopx; 
     padding: 20px;
     display:block;
     margin: 10px auto 35px auto;	
}

.btn:hover{
    color: gray;
}

.preencher{
     font-family: arial;
     font-size: 18px;
     color: #000099;
     text-align: center;
     
}
.opcoes{
    margin: 0px auto;
    text-align: center;
    width: 300px;
    height: 150px;
    background-color: darkblue;
    font-family: Palatino Linotype;
    font-size: 15pt;
    text-transform:uppercase;
}

.opcoes:hover{
    color:white;
}
.opcoes{
    margin: 0px auto;
    text-align: center;
    width: 300px;
    height: 150px;
    background-color: darkblue;
    font-family: Palatino Linotype;
    font-size: 15pt;
    text-transform:uppercase;
}

.opcoes:hover{
    color:white;
}

.link{
     font-family: arial;
     font-size: 18px;
     color: #000099;
     text-align: center;
     
}

.h1{ 
     font-family: arial;
     font-size: 26px;
     font-weight:700;
     color: #ffffff;
     text-transform: uppercase;
     padding: 20px 30px;
     margin: 10px;
}

.h2{ 
     font-family: arial;
     font-size: 22px;
     font-weight:700;
     color: #FFFFFF;
     text-transform: uppercase;
     padding: 20px 40px;
     margin: 0px 25px;
}

.h3{ 
     font-family: arial;
     font-size: 16px;
     font-weight:700;
     color: #FFFFFF;
     text-transform: uppercase;
     padding: 10px 40px;
     margin: 0px 25px;
}


.h4{
     font-family: arial;
     font-size: 18px;
     color: #FFFFFF;
     text-align: center; 
}

.h5{ 
     font-family: arial;
     font-size: 16px;
     font-weight:700;
     color: #FFFFFF;
     text-transform: uppercase;
     padding: 10px 40px;
     text-align: justify;
     margin: 0px 25px;
}

.box a{
    background-origin;
    font-family: arial;
    font-size: 18px;
    font-weight:700;
    color:#FFFFFF;
    text-transform: uppercase;
    border: 20px groove gray;
    cursor: pointer;
    display:inline-block;
    text-decoration: none;
    width: auto;
    height: auto;
    padding: 50px;
    text-align:center;
    margin: 30px;        
}

.box{
  background-origin;
  box-shadow:0 5px 0;
}

.box-1:hover{
  background;
  box-shadow:0 5px 0;  
}

.box-1:active{
  position:relative;
  top:5px;
  box-shadow:none;
}
