body{
    margin: 0;  
    }

.menu ul {
    margin: 0;
    background-color:black;
    list-style: none;
    text-align: center;  
}

.menu ul li {
    display: inline;    
}

.menu ul li a {
    padding: 15px 5px;
    display: inline-block;
    color:antiquewhite;
    text-decoration:none;
    font-size: 20px;
    font-family: Palatino Linotype;
    font-size: 20px;
    font-family: Palatino Linotype;
    box-shadow: 5px -9px 3px black;
    width: 200px;
       box-shadow: 5px 5px 5px black;
        
}

.menu ul li a:hover{
    color: rgb(240, 128, 128);
}

.conteudo {

        width: 300px;
        height: 300px;
        background: #fff;
        margin: 0px;
        align-items: center;
        justify-content: center;
 }
                
