body{
    margin: 0;  
    }

.menu ul {
    margin: 0;
    background-color:black;
    list-style: none;
    text-align: center;  
}

.menu ul li {
    display: inline;    
}

.menu ul li a {
    padding: 15px 5px;
    display: inline-block;
    color:antiquewhite;
    text-decoration:none;
    font-size: 20px;
    font-family: Palatino Linotype;
    font-size: 20px;
    font-family: Palatino Linotype;
    box-shadow: 5px -9px 3px black;
    width: 200px;
       box-shadow: 5px 5px 5px black;
        
}

.menu ul li a:hover{
    color: rgb(240, 128, 128);
}

.mestra{
    align-items: center;
    justify-content: center;
}

.conteudo{
    background-color:white;
    align-content: center;
    width: 1000px;
    height: 3000px;
    margin: 0px auto;
    margin-top: 15px;
    Color:#000066;
    text-aling: center;
    margin-left: auto;
    margin-right: auto;
    width: 6;
   
}






