<!DOCTYPE html>
<html>
<head>
    <meta charset= "UTF-8">
    <title>Faculdade Impacta Tecnologia</title>
    <link rel="stylesheet" href="DesignPaginas.css">

</head>
<body>
    <body background= stars.jpeg> 
    
    <div class ="menu">
        <ul>
            <img src="logoimpacta.png">
            <li><a href ="{% url 'index' %}">Home</a></li>
            <li><a href = "{% url 'listaDeCursos' %}">Cursos</a></li>
            <li><a href = "{% url 'cadastro' %}">Cadastro</a></li>
            <li><a href = "{% url 'noticias' %}">Notícias</a></li>
			<li><a href = "{% url 'login' %}">Login</a></li>
        </ul>
    </div>

    <div class="mestra"><div class="conteudo"></div></div>

</body>
</html>