<!DOCTYPE html>
<html>
<head>
    <meta charset= "UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title %}
    <title>Faculdade Impacta Tecnologia</title>
    {% endblock title %}
    
    
    

</head>
<body>
       
        
    <body background = /static/images/stars.jpeg> 
    
    <div class ="menu">
        <ul>
                {% load static %}
            <img src="{% static 'images/logoimpacta.png' %}">
            <li><a href ="{% url 'home' %}">Home</a></li>
            <li><a href = "{% url 'cadastro' %}">Cadastro</a></li>
            <li><a href = "{% url 'listaCurso' %}">Cursos</a></li>
			<li><a href = "{% url 'login' %}">Login</a></li>
        </ul>


        <div class="conteudo">
        {% block content %}

        


        {% endblock content %}
        </div>


</body>
</html>