{% extends 'base.html' %}
{% block content %}

        <!-----Colocar o conteúdo da página aqui-->
          <div class="h2">Banco de Dados</div><br/>

          <div class="h3">Data Analytics & Big Data</div><br/>
          <center>
          <div class="h5"><b><u>Sobre o Curso</u></b><br/>
          <p>O curso de Banco de Dados prepara o aluno para ser um profissional versátil e com habilidades para atuar com diversas plataformas e estruturas de desenvolvimento e administração de sistemas de Banco de Dados, com acesso a todo o repertório técnico e teórico da área.</p>

          <p>A graduação mostra a importância da segurança de compartilhamento de dados nas empresas modernas e ensina as melhores técnicas e ferramentas de criação e implementação da mesma.</p>

          <p>Na Impacta, você será preparado para o cenário real de gestão e liderança empresarial, garantindo a capacidade de comunicação e criatividade para solucionar problemas, atingir os melhores resultados, aumentar a produtividade e reduzir custos.</p><br/>

         <table width="auto" border="0" cellpadding="10">
               <tr>
                 <td><p style="text-align: justify;">TECNÓLOGO</p>
	             <p style="text-align: justify;">Período: Matutino | 08h00 às 11h40 |</p>
                     <p style="text-align: justify;">Período: Noturno | 19h00 às 22h40 |</p>
                     <p style="text-align: justify;">Duração:4 Semestres</p>
                     <p style="text-align: justify;">QUANTO VOU INVESTIR NO MEU FUTURO?</p>
                     <p style="text-align: justify;">Matutino</p>
                     <p style="text-align: justify;"><s>DE: R$ 646,67</s>  |  POR: R$ 549,66</p>
                     <p style="text-align: justify;">Noturno</p>
                     <p style="text-align: justify;"><s>DE: R$ 730,00</s>  |  POR: R$ 620,50</p>                  
                     <p style="text-align: justify;">*Este valor é referente ao Plano Estendido Impacta e a mensalidade pode sofrer alterações a cada semestre.</p>
                 </td>
               </tr>                 
          </table>
        </center></div>

{% endblock content %}