{% extends 'base.html' %}
{% block content %}
   
      <form>
       <br/><br/>
        <div class="acesso">
        Nome: <input type="text" name="Nome" placeholder="Insira o nome"><br/><br/>
        
        Email: <input type="email" name="Email" placeholder="Insira o email"><br/><br/>

        Celular: <input type="text" name="Celular" placeholder="Insira o celular"><br/><br/>

        CPF: <input type="text" name="CPF" placeholder="Insira o CPF"><br/><br/>
    
        Login: <input type="text" name="Login" placeholder="Insira o login"><br/><br/>

        Senha: <input type="password" name="Senha" placeholder="Insira a senha"><br/></div>
        
        <div class="btn"><input type="submit" value="Cadastrar"></div><br/><br/>   


      </form>


{% endblock content %}