{% extends 'base.html' %}
{% block content %}

        <!-----Colocar o conteúdo da página aqui-->


          <div class="h2">Engenharia da Computação</div><br/>

          <div class="h3">Internet das Coisas, Automação, Inteligência Artificial</div><br/>
          <center>
          <div class="h5"><b><u>Sobre o Curso</u></b><br/>
          <p>A graduação em Engenharia da Computação busca formar profissionais para atuar em processos de automação, integrando aspectos relacionados ao           desenvolvimento e gerência de projetos de hardware e software. Tais aspectos envolvem sistemas embarcados, sistemas de tempo real, sistemas integrados de           hardware e software, sistemas distribuídos, redes de computadores, robótica e Internet das Coisas.</p>

          <p>O curso possui uma linha de formação com ênfase em IoT e Indústria 4.0, temas atuais e de interesse mundial -  todos os setores da economia serão           impactados por estas transformação digital nos próximos anos.</p>

          <p>Desta forma, o aluno será capacitado para desenvolver sistemas para Internet das Coisas e Indústria 4.0 a partir de sólidos conhecimentos de programação,           redes de comunicação, hardware e eletrônica, que são foco de várias disciplinas da grade. Além disso, temas como Inovação, Empreendedorismo, Gestão e                   Economia também farão parte da formação do nosso engenheiro.</p><br/>

         <table width="auto" border="0" cellpadding="10">
               <tr>
                 <td><p style="text-align: justify;">BACHARELADO</p>
	             <p style="text-align: justify;">Período: Matutino | 08h00 às 11h40 |</p>
                     <p style="text-align: justify;">Período: Noturno | 19h00 às 22h40 |</p>
                     <p style="text-align: justify;">Duração:8 Semestres</p>
                     <p style="text-align: justify;">QUANTO VOU INVESTIR NO MEU FUTURO?</p>
                     <p style="text-align: justify;">Matutino</p>
                     <p style="text-align: justify;"><s>DE: R$ 931,20</s>  |  POR: R$ 744,96</p>
                     <p style="text-align: justify;">Noturno</p>
                     <p style="text-align: justify;"><s>DE: R$ 1.051,20</s>  |  POR: R$ 840,96</p>                  
                     <p style="text-align: justify;">*Este valor é referente ao Plano Estendido Impacta e a mensalidade pode sofrer alterações a cada semestre.</p>
                 </td>
               </tr>                 
          </table>
        </center></div>

{% endblock content %}