{% extends 'base.html' %}

{% block content %}
        
<!--Colocar conteudo da página aqui-->
<div class="img">
		<img src="/static/css/images/impacta.png" height="200" width="240" border='0'/>
		</div>
          
		<div class="h4">Para redefinir sua senha, digite o seu endereço de e-mail. 
(O mesmo e-mail cadastrado no ato de sua matrícula)</div>
                
                <div class="acesso">
		E-mail <input type="email">
                </div>
                <div class="botao">
		<input type="submit" value="ENVIAR"/><br/><br/>
                </div>


{% endblock content %}