{% extends 'base.html' %}
{% block content %}

          <div class="h2">Jogos Digitais</div><br/>
          <div class="h3">Design de Games e Game Programming</div><br/>
          <center>
          <div class="h5"><b><u>Sobre o Curso</u></b><br/>
          <p>A graduação de Jogos Digitais aborda as ferramentas práticas e teóricas para o aluno projetar, implementar e testar jogos. Com a criação de personagens, ambientes, objetos, interfaces e regras, é possível aprender sobre tudo o que é necessário para criar um jogo. Além disso, o profissional também pode aplicar técnicas de programação, áudio e elementos em 2D e 3D.</p>

          <p>Com conhecimento interdisciplinar, o aluno terá contato com todas as fases do projeto: desde o design, arte visual, áudio e programação até a gestão de projetos e negócios.</p>

          <p>O aluno ainda estará preparado para desenvolver games em diversos ambientes e áreas - não apenas para o entretenimento. Os setores da indústria e educação têm cada vez mais aderido a mecanismos, como jogos para seus setores, os chamados "serious games", que abrem um grande leque de opções para a profissão.</p><br/>

         <table width="auto" border="0" cellpadding="10">
               <tr>
                 <td><p style="text-align: justify;">TECNÓLOGO</p>
	             <p style="text-align: justify;">Período: Matutino | 08h00 às 11h40 |</p>
                     <p style="text-align: justify;">Período: Noturno | 19h00 às 22h40 |</p>
                     <p style="text-align: justify;">Duração:4 Semestres</p>
                     <p style="text-align: justify;">QUANTO VOU INVESTIR NO MEU FUTURO?</p>
                     <p style="text-align: justify;">Matutino</p>
                     <p style="text-align: justify;"><s>DE: R$ 646,67</s>  |  POR: R$ 549,66</p>
                     <p style="text-align: justify;">Noturno</p>
                     <p style="text-align: justify;"><s>DE: R$ 730,00</s>  |  POR: R$ 620,50</p>                  
                     <p style="text-align: justify;">*Este valor é referente ao Plano Estendido Impacta e a mensalidade pode sofrer alterações a cada semestre.</p>
                 </td>
               </tr>                 
          </table>
        </center></div>

{% endblock content %}