{% extends 'base.html' %}

{% block content %}
        
<!--Colocar conteudo da página aqui-->
<div class="itens">
        <br/><br/>
        <h1>Bacharelado</h1>
        <ul>
          <li>Administração</li>
              <li>Análise e Desenvolvimento de Sistemas</li>
              <li>Análise e Desenvolvimento de Sistemas EAD</li>
              <li>Engenharia da Computação</li>
              <li>Sistemas de Informação</li><br/><br/>
        </ul>
    
        <h1>Tecnólogo</h1>
            <ul>
              <li>Banco de Dados</li>
          <li>Gestão da Tecnoçogia da Informação</li>
              <li>Jogos Digitais</li>
              <li>Processos Gerenciais</li>
              <li>Produção Multimídia</li>
              <li>Redes de Computadores</li><br/><br/>		
    
            </ul>
          </div>
    


{% endblock content %}