{% extends 'base.html' %}
{% block content %}

        <!-----Colocar o conteúdo da página aqui-->
	
          <div class="img">	
        <br/><br/>
        {% load static %}
		<img src="{% static 'fonts/logoimpacta.png' %}" height="auto" width="auto" border='0'/></center><br/><br/>
          </div>
          <div class="acesso">
		Login <input type="login"><br/><br/>
                Senha <input type="password"><br/>
          </div>
          <div class="link">
		<a href = "{% url 'esqueceuSenha' %}">Esqueceu a senha?</a><br/><br/>
          </div>
          <div class="btn">
                <input type="submit" value="FAZER LOGIN"/><br/><br/>
          </div>
          
          
           




{% endblock content %}