{% extends 'base.html' %}

{% block content %}
        
<!--Colocar conteudo da página aqui-->
<form>
<div class="img">	
		<br/><br/>
		<img src="/static/images/impacta.png" height="200" width="240" border='0'/></center><br/><br/>
          </div>
          <div class="acesso">
		Login <input type="login"><br/><br/>
                Senha <input type="password"><br/>
          </div>
          <div class="link">
		<a href = "{% url 'esqueceuSenha' %}">Esqueceu a senha?</a><br/>
          </div>
          <div class="botao">
                <input type="submit" value="FAZER LOGIN"/><br/><br/>
          </div>
        </form>


{% endblock content %}