{% extends 'base.html' %}
{% block content %}

        <!-----Colocar o conteúdo da página aqui-->
          <div class="h2">Redes de Computadores</div><br/>

          <div class="h3">Cloud Computing & Cyber Security</div><br/>
          <center>
          <div class="h5"><b><u>Sobre o Curso</u></b><br/>
          <p>Cada vez mais as empresas precisam lidar com diferentes tipos de redes, como Wi-Fi, intranet, dispositivos móveis conectados, entre outros. Com o curso de Redes de Computadores, o aluno estará preparado para analisar, projetar, instalar e administrar soluções para sistemas eficientes e seguros em projetos de redes locais e de longa distância.</p>

          <p>Aprende-se a realizar controles de tráfego e implementar tecnologias de segurança para garantir o bom funcionamento dos sistemas de comunicação de dados, com competência para atuar em empresas de pequeno e grande porte.</p>

          <p>O aluno terá uma visão abrangente da área, em que vai aprender os conceitos em laboratório, desenvolver as habilidades de diagnóstico e implementar e administrar a infraestrutura e serviços de redes.</p><br/>

         <table width="auto" border="0" cellpadding="10">
               <tr>
                 <td><p style="text-align: justify;">TECNÓLOGO</p>
	             <p style="text-align: justify;">Período: Matutino | 08h00 às 11h40 |</p>
                     <p style="text-align: justify;">Período: Noturno | 19h00 às 22h40 |</p>
                     <p style="text-align: justify;">Duração:4 Semestres</p>
                     <p style="text-align: justify;">QUANTO VOU INVESTIR NO MEU FUTURO?</p>
                     <p style="text-align: justify;">Matutino</p>
                     <p style="text-align: justify;"><s>DE: R$ 646,67</s>  |  POR: R$ 549,66</p>
                     <p style="text-align: justify;">Noturno</p>
                     <p style="text-align: justify;"><s>DE: R$ 730,00</s>  |  POR: R$ 620,50</p>                  
                     <p style="text-align: justify;">*Este valor é referente ao Plano Estendido Impacta e a mensalidade pode sofrer alterações a cada semestre.</p>
                 </td>
               </tr>                 
          </table>
        </center></div>
    
{% endblock content %}