body{
    margin: 0;  
    }

.menu ul {
    margin: 0;
    background-color:black;
    list-style: none;
    text-align: center;  
}

.menu ul li {
    display: inline;    
}

.menu ul li a {
    padding: 15px 5px;
    display: inline-block;
    color:antiquewhite;
    text-decoration:none;
    font-size: 20px;
    font-family: Palatino Linotype;
    font-size: 20px;
    font-family: Palatino Linotype;
    box-shadow: 5px -9px 3px black;
    width: 200px;
       box-shadow: 5px 5px 5px black;
        
}

.menu ul li a:hover{
    color: rgb(240, 128, 128);
}

.mestra{
    align-items: center;
    justify-content: center;
}

.conteudo{
    background-color:white;
    align-content: center;
    width: 1000px;
    height: 3000px;
    margin: 0px auto;
    margin-top: 15px;  
}

.img{
    text-align: center;
    padding: 10px 0;
}

.acesso{
     cursor: pointer;
     font-size: 21px;
     font-weight: 400;
     color: #000099;
     max-width: 160px;
     text-transform: uppercase;
     padding: 0;
     display: block;
     margin: 20px auto 35px auto;
   
 }

.botao{
     font-family: arial;
     font-size: 24px;
     color: #000099;
     text-align:center;
     margin: 20px auto 35px auto;
     padding: 0px;
     display:block;	
}
.link{
     font-family: arial;
     font-size: 18px;
     color: #000099;
     text-align: center;
     
}

.h4{
     font-family: arial;
     font-size: 18px;
     color: #000099;
     text-align: center;
     
}